<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="search">
    <div style="width: 670px;height: 50px;margin: auto">
        <form class="form-inline my-2 my-lg-0"  method="get" action="/search/">
    <input class="form-control mr-sm-2" name='q' type="search cate-input" placeholder="搜索" aria-label="search" style="width: 570px;height: 50px;" >
    <button class="btn btn-outline-success my-2 my-sm-0 cate-btn" type="submit" value="">Search</button>
    </form>
        {% if query %}
    <h3>搜索结果如下：</h3>
    {% for result in  page.object_list %}
        {{ result.id}}

    {% empty %}
        <p>啥也没找到</p>
    {% endfor %}

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; 上一页{% if page.has_previous %}</a>{% endif %}
        |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页 &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
{% endif %}

</div>
</body>
</html>