{% extends '川菜.html' %}
{% load static %}
{% block content %}
   <div class="intro " >
            <div style="width: 900px;height: 400px;margin: 0 auto">
                <video src="{% static 'mp4/徽菜.mp4菜.mp4' %}" controls controlslist="nodownload" width="750"
                       height="400" style="float: left;margin-left: 40px"></video>
                <div style="float:left;margin-top: 160px">
                    <a tabindex="0" id=kuang1 class="btn btn-lg btn-danger" role="button" data-toggle="popover"
                       data-trigger="focus"
                       title="简介"
                       data-content="徽菜即安徽菜，是以皖南菜为代表的皖南菜、皖江菜、合肥菜、淮南菜、皖北菜的总称。其中皖南风味以徽州地方菜肴为代表，它是徽菜的主流和渊源。徽菜以徽州特产为主要原料，在采用民间传统烹调技法的基础上，吸收其它菜系技艺之长而烹制的以咸鲜味为主的地方菜肴。徽菜具有丰厚的文化底蕴，是全国著名的八大菜系之一。其主要风味特点为咸鲜为主，突出本味，讲究火功，注重食补。在烹调方法上以烧、炖、焖、蒸、熏等技艺为主。主要菜式有宴席大菜、五簋八碟十大碗、九碗六、八碗十二盘、六大盆、大众和菜等。主要名宴有八公山豆腐宴、包公宴、洪武宴等">介绍</a>
                </div>
            </div>

        </div>


    <div class="food-list-main">
        <div class="title-food" style="width: 70%; height: 40px;">
        <img src="{% static '/img/Restaurants.png' %}" alt="" style="float: left;margin-top:5px ">
        <h1 class="zi " style="color: #1b1e21;text-align: left;margin-top:40px">徽菜推荐</h1>

    </div>
        <ul class="food-centre">

            {% for i in food %}
                {% if  i.class1 == '7' %}


                <li class="clearfix " style="background-size: cover;position: relative;float: left"
                    target="_blank">
                    <div class="food-list1" style="margin-left: 40px">
                        <a href="" class="food-img"><img src="{{ MEDIA_URL }}{{ i.photo }}" width="400px"
                                                         height="300px"></a>
                        <div class="cook-info">
                            <a class="cookname text-lips " href=""
                               target="_blank">{{ i.user }}</a>
                            <p class="major"></p>
                            <div class="score">
                                <span class="star star50"></span>
                                <span>{{i.score}}</span>
                            </div>
                        </div>
                    </div>

                </li>
                {% endif %}
            {% endfor %}

        </ul>
    </div>



{% endblock content %}